<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /acodecms
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /acodecms/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /acodecms/index.php
</IfModule>